.CodeMirror {
  color: #eff1f5;
}
.CodeMirror-line span {
  color: #4c4f69;
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
  background-color: #7c7f934d;
}
.CodeMirror-gutters {
  background-color: #e6e9ef;
  border-right-color: #9ca0b0;
}
.CodeMirror-linenumber {
  color: #8c8fa1;
}
.CodeMirror-activeline .CodeMirror-linenumber {
  color: #7287fd;
}
.CodeMirror-activeline-background {
  background-color: #ccd0da;
}
.CodeMirror-line
.CodeMirror-guttermarker {
  color: #8c8fa1;
}
.CodeMirror-guttermarker-subtle {
  color: #9ca0b0;
}
.CodeMirror-cursor {
  border-left-color: #df8e1d;
}
.CodeMirror div.CodeMirror-secondarycursor {
  border-left-color: #df8e1d;
}
.cm-fat-cursor .CodeMirror-cursor {
  background-color: #df8e1d;
}
.cm-s-default .cm-header {
  color: #df8e1d
}
.cm-s-default .cm-quote {
  color: #5c5f77;
}
.cm-negative {
  color: #d20f39;
}
.cm-positive {
  color: #40a02b;
}
.cm-s-default .cm-keyword {
  color: #8839ef;
}
.cm-s-default .cm-atom {
  color: #d20f39;
}
.cm-s-default .cm-number {
  color: #fe640b;
}
.cm-s-default .cm-def {
  color: #8839ef;
}
.cm-s-default .cm-property {
  color: #1e66f5;
}
.cm-s-default .cm-variable {
  color: #1e66f5;
}
.cm-s-default .cm-variable-2 {
  color: #1e66f5;
}
.cm-s-default .cm-type,
.cm-s-default .cm-variable-3 {
  color: #179299;
}
.cm-s-default .cm-comment {
  color: #6c6f85;
}
.cm-s-default .cm-string {
  color: #40a02b;
}
.cm-s-default .cm-string-2 {
  color: red;
}
.cm-s-default .cm-meta,
.cm-s-default .cm-qualifier {
  color: #df8e1d;
}
.cm-s-default .cm-builtin {
  color: #d20f39;
}
.cm-s-default .cm-bracket {
  color: #5c5f77;
}
.cm-s-default .cm-tag {
  color: #1e66f5;
}
.cm-s-default .cm-attribute {
  color: #df8e1d;
}
.cm-s-default .cm-hr {
  color: #df8e1d
}
.cm-s-default .cm-link {
  color: #1e66f5;
}
.cm-invalidchar,
.cm-s-default .cm-error {
  color: #d20f39;
}
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #40a02b;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #d20f39;
}
.CodeMirror-matchingtag {
  background-color: #04a5e5;
}
.CodeMirror-selected {
  background-color: #df8e1d33;
}
.CodeMirror-focused .CodeMirror-selected {
  background-color: #b1711733;
}
body.find-open .cm-searching {
  color: #df8e1d;
  background-color: #df8e1d33;
}
body.find-open .cm-searching.search-target-match {
  color: #df8e1d;
  background-color: #b1711733;
}
.CodeMirror-dialog-top {
  border-bottom-color: #9ca0b0;
}
.CodeMirror-dialog-bottom {
  border-top-color: #9ca0b0;
}
.CodeMirror-foldmarker {
  color: #5c5f77;
}
.CodeMirror-hints {
  background-color: #ccd0da;
}
.CodeMirror-hint {
  color: #5c5f77;
}
.CodeMirror-hint:hover {
  background-color: #bcc0cc4d;
}
li.CodeMirror-hint-active {
  background-color: #acb0be4d;
}
.CodeMirror-lint-tooltip {
  color: #179299;
  background-color: #1792994d;
}
.CodeMirror-lint-line-error {
  color: #d20f39;
  background-color: #d20f394d;
}
.CodeMirror-lint-line-warning {
  color: #fe640b;
  background-color: #fe640b4d;
}
.CodeMirror-search-match {
  background-color: #df8e1d4d;
  border-color: #df8e1d;
}
.CodeMirror-activeline .applies-to:before {
  background-color: transparent;
}
.CodeMirror-selection-highlight-scrollbar,
.cm-matchhighlight {
  background-color: #7c7f934d;
}
.gutter-bookmark {
  color: #b17117;
  background-color: #b171174d;
}
