div.cm-s-ctp-frappe.CodeMirror {
  --bg0: #303446;
  --bg1: #838ba7;
  --bg4: #737994;
  --fg: #c6d0f5;
  --fg3: #a5adce;
  --gray: #b5bfe2;
  --blue: #8caaee;
  --yellow: #e5c890;
  --aqua: #8caaee;
  --orange: #ef9f76;
  --primary-bg: #303446;
  --current-line: #414559;
  --selection: #626880;
  --atom: #babbf1;
  --cursor: #838ba7;
  --keyword: #e78284;
  --operator: #99d1db;
  --number: #ef9f76;
  --definition: #8caaee;
  --string: #a6d189;
}

.cm-s-ctp-frappe.CodeMirror,
.cm-s-ctp-frappe .CodeMirror-gutters {
  background-color: var(--primary-bg);
  color: var(--fg3);
}
.cm-s-ctp-frappe .CodeMirror-gutters {
  background: var(--primary-bg);
  border-right: 0px;
}
.cm-s-ctp-frappe .CodeMirror-linenumber {
  color: var(--bg4);
}
.cm-s-ctp-frappe .CodeMirror-cursor {
  border-left: 1px solid var(--fg);
}
.cm-s-ctp-frappe.cm-fat-cursor .CodeMirror-cursor {
  background-color: var(--cursor) !important;
}
.cm-s-ctp-frappe .cm-animate-fat-cursor {
  background-color: var(--cursor) !important;
}
.cm-s-ctp-frappe div.CodeMirror-selected {
  background: var(--selection);
}
.cm-s-ctp-frappe span.cm-meta {
  color: var(--blue);
}
.cm-s-ctp-frappe span.cm-comment {
  color: var(--gray);
}
.cm-s-ctp-frappe span.cm-number {
  color: var(--number);
}
.cm-s-ctp-frappe span.cm-atom {
  color: var(--atom);
}
.cm-s-ctp-frappe span.cm-keyword {
  color: var(--keyword);
}
.cm-s-ctp-frappe span.cm-variable {
  color: var(--fg);
}
.cm-s-ctp-frappe span.cm-variable-2 {
  color: var(--fg);
}
.cm-s-ctp-frappe span.cm-variable-3,
.cm-s-ctp-frappe .cm-s-gruvbox-dark span.cm-type {
  color: var(--yellow);
}
.cm-s-ctp-frappe span.cm-operator {
  color: var(--operator);
}
.cm-s-ctp-frappe span.cm-callee {
  color: var(--fg);
}
.cm-s-ctp-frappe span.cm-def {
  color: var(--definition);
}
.cm-s-ctp-frappe span.cm-property {
  color: var(--fg);
}
.cm-s-ctp-frappe span.cm-string {
  color: var(--string);
}
.cm-s-ctp-frappe span.cm-string-2 {
  color: var(--aqua);
}
.cm-s-ctp-frappe span.cm-qualifier {
  color: var(--aqua);
}
.cm-s-ctp-frappe span.cm-attribute {
  color: var(--aqua);
}
.cm-s-ctp-frappe .CodeMirror-activeline-background {
  background: var(--current-line);
}
.cm-s-ctp-frappe .CodeMirror-matchingbracket {
  background: var(--gray);
  color: var(--bg0) !important;
}
.cm-s-ctp-frappe span.cm-builtin {
  color: var(--orange);
}
.cm-s-ctp-frappe span.cm-tag {
  color: var(--orange);
}