div.cm-s-ctp-macchiato.CodeMirror {
  --bg0: #24273a;
  --bg1: #8087a2;
  --bg4: #6e738d;
  --fg: #cad3f5;
  --fg3: #a5adcb;
  --gray: #b8c0e0;
  --blue: #8aadf4;
  --yellow: #eed49f;
  --aqua: #8aadf4;
  --orange: #f5a97f;
  --primary-bg: #24273a;
  --current-line: #363a4f;
  --selection: #5b6078;
  --atom: #b7bdf8;
  --cursor: #8087a2;
  --keyword: #ed8796;
  --operator: #91d7e3;
  --number: #f5a97f;
  --definition: #8aadf4;
  --string: #a6da95;
}

.cm-s-ctp-macchiato.CodeMirror,
.cm-s-ctp-macchiato .CodeMirror-gutters {
  background-color: var(--primary-bg);
  color: var(--fg3);
}
.cm-s-ctp-macchiato .CodeMirror-gutters {
  background: var(--primary-bg);
  border-right: 0px;
}
.cm-s-ctp-macchiato .CodeMirror-linenumber {
  color: var(--bg4);
}
.cm-s-ctp-macchiato .CodeMirror-cursor {
  border-left: 1px solid var(--fg);
}
.cm-s-ctp-macchiato.cm-fat-cursor .CodeMirror-cursor {
  background-color: var(--cursor) !important;
}
.cm-s-ctp-macchiato .cm-animate-fat-cursor {
  background-color: var(--cursor) !important;
}
.cm-s-ctp-macchiato div.CodeMirror-selected {
  background: var(--selection);
}
.cm-s-ctp-macchiato span.cm-meta {
  color: var(--blue);
}
.cm-s-ctp-macchiato span.cm-comment {
  color: var(--gray);
}
.cm-s-ctp-macchiato span.cm-number {
  color: var(--number);
}
.cm-s-ctp-macchiato span.cm-atom {
  color: var(--atom);
}
.cm-s-ctp-macchiato span.cm-keyword {
  color: var(--keyword);
}
.cm-s-ctp-macchiato span.cm-variable {
  color: var(--fg);
}
.cm-s-ctp-macchiato span.cm-variable-2 {
  color: var(--fg);
}
.cm-s-ctp-macchiato span.cm-variable-3,
.cm-s-ctp-macchiato .cm-s-gruvbox-dark span.cm-type {
  color: var(--yellow);
}
.cm-s-ctp-macchiato span.cm-operator {
  color: var(--operator);
}
.cm-s-ctp-macchiato span.cm-callee {
  color: var(--fg);
}
.cm-s-ctp-macchiato span.cm-def {
  color: var(--definition);
}
.cm-s-ctp-macchiato span.cm-property {
  color: var(--fg);
}
.cm-s-ctp-macchiato span.cm-string {
  color: var(--string);
}
.cm-s-ctp-macchiato span.cm-string-2 {
  color: var(--aqua);
}
.cm-s-ctp-macchiato span.cm-qualifier {
  color: var(--aqua);
}
.cm-s-ctp-macchiato span.cm-attribute {
  color: var(--aqua);
}
.cm-s-ctp-macchiato .CodeMirror-activeline-background {
  background: var(--current-line);
}
.cm-s-ctp-macchiato .CodeMirror-matchingbracket {
  background: var(--gray);
  color: var(--bg0) !important;
}
.cm-s-ctp-macchiato span.cm-builtin {
  color: var(--orange);
}
.cm-s-ctp-macchiato span.cm-tag {
  color: var(--orange);
}