.ͼ1s {
  color: @text;
  background-color: @base;
}
.ͼ1s .cm-content {
  caret-color: @rosewater;
}
.ͼ1s .cm-cursor, .ͼ1s .cm-dropCursor {
  border-left-color: @rosewater;
}
.ͼ1s.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼ1s .cm-selectionBackground,
.ͼ1s .cm-content ::selection {
  background-color: @surface2;
}
.ͼ1s .cm-panels {
  background-color: @mantle;
  color: @text;
}
.ͼ1s .cm-panels.cm-panels-top {
  border-bottom: 2px solid black;
}
.ͼ1s .cm-panels.cm-panels-bottom {
  border-top: 2px solid black;
}
.ͼ1s .cm-searchMatch {
  background-color: rgba(@blue, 0.35);
  outline: 1px solid @blue;
}
.ͼ1s .cm-searchMatch.cm-searchMatch-selected {
  background-color: rgba(@blue, 0.18);
}
.ͼ1s .cm-activeLine {
  background-color: @surface0;
}
.ͼ1s .cm-selectionMatch {
  background-color: rgba(@surface2, 0.30);
}
.ͼ1s.cm-focused .cm-matchingBracket, .ͼ1s.cm-focused .cm-nonmatchingBracket {
  background-color: rgba(@surface2, 0.28);
  color: @text;
}
.ͼ1s .cm-gutters {
  background-color: @base;
  color: @subtext0;
  border: none;
}
.ͼ1s .cm-activeLineGutter {
  background-color: @surface0;
}
.ͼ1s .cm-foldPlaceholder {
  background-color: transparent;
  border: none;
  color: @overlay0;
}
.ͼ1s .cm-tooltip {
  border: none;
  background-color: @surface0;
}
.ͼ1s .cm-tooltip .cm-tooltip-arrow:before {
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.ͼ1s .cm-tooltip .cm-tooltip-arrow:after {
  border-top-color: @surface0;
  border-bottom-color: @surface0;
}
.ͼ1s .cm-tooltip-autocomplete > ul > li[aria-selected] {
  background-color: @surface1;
  color: @text;
}
